.navbar-light .navbar-nav .nav-link.active div {
  color: orange;
  border-bottom: 1px solid orange;
}
.navbar-collapse{
  justify-content: right ;
}

.carousel-indicators{
  visibility: hidden;
}

ul {
  list-style: none;
}

ul li::before {
  content: url("content/icons8-checkmark.png");
}

ol {
  list-style: none;
  counter-reset: li}

li::before {
  color:rgb(236, 157, 9);
  display: inline-block;
  width: 1em;
  margin-left: -2.5em;
  margin-right: 1.5em;
}

ol li::before {
  content: "." counter(li) ;
  text-align: right;
  direction: rtl;
  font-size: 1.2em;
  margin-right: 1.3em;
}


li {
  counter-increment: li;
  margin-bottom: 20px;
}

body {
  background-color:rgb(243, 237, 237);
}
.orange{
  color: rgb(236, 157, 9);
  display: inline;
}
.dotted{
  display: inline;
}

.newsBar{
  text-align: center;
  background-color: rgb(192, 61, 21);
  color: white;
}

.carousel-control-next-icon {
  background-image: url("content/arrow-right.png");
  height: 50px;
}
.carousel-control-prev-icon {
  background-image: url("content/arrow-left.png");
  height: 50px;
}

.carousel img {
  opacity: 0.2;
  filter: alpha(opacity=20);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}