#image-building {
  float: left;
  margin-right: 20px;
  margin-top: 5px;
}

.navbar-light .navbar-nav .nav-link.active div {
  color: orange;
  border-bottom: 1px solid orange;
}

.nav-link div{
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

ul li::before {
  content: url("content/icons8-checkmark.png");
}

ol {
  list-style: none;
  counter-reset: li}

li::before {
  color:rgb(236, 157, 9);
  display: inline-block;
  width: 1em;
  margin-left: -2.5em;
  margin-right: 1.5em;
}

ol li::before {
  content: "." counter(li) ;
  text-align: right;
  direction: rtl;
  font-size: 1.2em;
  margin-right: 1.3em;
}


li {
  counter-increment: li;
  margin-bottom: 20px;
}

body {
  background-color:rgb(242, 242, 242);
  font-size: 20px;
}
.orange{
  color: rgb(236, 157, 9);
  display: inline;
}

.newsBar{
  text-align: center;
  background-color: rgb(232, 78, 14);
  color: white;
}

.newsBar div {
  margin: 15px 0px 15px 0px;
  align-self: center;
}

#linkTo:hover{
  filter: brightness(85%);
  cursor: pointer;
}

.carousel-indicators{
  visibility: hidden;
}

.carousel-control-next-icon {
  background-image: url("content/arrow-right.png");
  height: 50px;
}
.carousel-control-prev-icon {
  background-image: url("content/arrow-left.png");
  height: 50px;
}

.carousel img {
  width:100%;
  min-height: 250px;
  opacity: 0.2;
  filter: alpha(opacity=20);
  -webkit-filter: grayscale(90%) brightness(100%);
  filter: grayscale(90%) brightness(100%);
}


.carousel-caption {
  color: black;
  text-align: left;
  right: 30%;
  bottom: 30%;
}

.carousel-caption h3{
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.carousel-caption .btn {
  background: white;
  border-radius: 25px;
  width: 200px;
  position: absolute;
  left: 100%;
  top: 100%;
}

.carousel-caption .btn:hover {
  background-color:  rgb(236, 157, 9);
}
.card {
  margin-top: 40px;
}
@media only screen and (max-width: 1400px) {
  .carousel-caption {
    width: auto;
    right: 10%;
    bottom: 30%;
  }
  .carousel-caption .btn {

    left: 80%;
    top: 100%;
  }

}

@media only screen and (max-width: 1000px) {
  .carousel-caption {
    width: auto;
    right: 10%;
    bottom: 30%;
  }
  .carousel-caption .btn {
    left: 50%;
    top: 100%;
  }

  .carousel-caption h3 {
    margin: 0px 0px 20px 0px;
    font-size: 1.5rem;
    
  }
  .carousel-caption p {
    margin: 0px 0px 0px 0px;
  }

  .newsBar div {
    margin: 0px 0px 0px 0px;
    align-self: center;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 800px) {
  .carousel-caption {
    bottom: 20%;
  }
}

@media only screen and (max-width: 600px) {
  #image-building{
    width: 100%;
    height: auto;
  }
  .carousel-caption h3 {
    margin: 0px;
    font-size: 1.5rem;
  }
  .carousel-caption {
    bottom: 10%;
  }
  .carousel-caption .btn {
    left: 50%;
    top: 90%;
  }
}
.col h3 {
  margin-top: 50px;
}

.tooltipMy {
  position: relative;
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: orange;
  border-bottom-style: dashed;
}

.tooltipMy .tooltiptext {
  visibility: hidden;
  width: 150px;
  bottom: 100%;
  left: 50%;
  margin-left: -75px;
  background-color: rgb(70,70,70);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltipMy:hover .tooltiptext {
  visibility: visible;
}

.tooltipMy .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.cardWhite {
  background-color: white;
  color: black;
  box-shadow: 0 0 5px 5px rgb(235,235,235);
}

.cardBlack{
  background-color: black;
  color: white; 
  box-shadow: 0 0 5px 5px rgb(235,235,235);
}

.card-carousel .carousel-item {
  float: none;
}

.card-title {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}
.card-text {
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 50px;
}

.card-date {
  font-size: 1rem;
  position: absolute;
  left: 20px;
  bottom: 20px;
  text-transform: uppercase;
}

.card-link {
  font-size: 1.2rem;
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: orange;
  font-weight: bold;
}

.copyright {
  text-transform: uppercase;
  color: orange;
}

#imgMail {
  margin-left: 95%;
}
#imgMail:hover{
  cursor: pointer;
  box-shadow: 0 0 5px 5px rgba(235, 235, 235);
}

@media only screen and (max-width: 1040px) {
  .nav-link div{
    font-size: 1rem;
  }
  .navbar-brand img {
    width: 120px;
  }
  .card-title {
    font-size: 2rem;
  }
  .card-text {
    font-size: 1.5rem;
  }
  
  .card-date {
    font-size: 0.8rem;
  }
  
  .card-link {
    font-size: 1rem;
  }
}


.popover{
  max-width: 460px;
  padding: 30px;
}

.popover img{
  position: absolute;
  top: 15px;
  right: 15px;
}

.popover img:hover{
  cursor: pointer;
  background-color: orange;
}

.popover span{
  color: grey;
}

.mb {
  margin-bottom: 20px;
}

.smallText{
  font-size: 0.7rem;
}

.popover button {
  margin: 20px 0px 20px 0px;
  padding-left: 80px;
  padding-right: 80px;
  font-size: 1.2rem;
  color: white;
  border-radius: 40px;
  background-color: rgb(232, 78, 14);
}